* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.home-container {
  margin-top: 5%;
}

.profile-container {
  width: 90%;
  align-content: center;
}

.top-wrapper {
  padding: 180px 0 200px 0;
  background-image: url(image/home.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.start {
  background-color: #137f97;
}

.btn-location {
  padding: 8px 40px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  border: 2px solid white;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.btn-location:hover {
  opacity: 1;
}
.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-menu {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-menu a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.heading h2 {
  font-weight: normal;
}

.heading h3 {
  font-weight: normal;
}

.menu-icon {
  display: none;
}
.move {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 20px;
  animation: text 3s 1;
}

#profile {
  background-color: #01251c;
  color: white;
  padding: 30px;
}

.galery {
  background-color: #00241e;
  color: white;
  padding: 30px 0;
}

.content-title {
  text-align: center;
  font-size: 54px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.man-profile,
.woman-profile {
  display: flex;
  width: 100%;
}

.man-profile {
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

.profile-picture {
  width: 20%;
}

.profile-identity {
  width: 90%;
  align-self: center;
  line-height: 4em;
}

.profile-identity p {
  font-size: 35px;
}

.woman-profile .profile-identity {
  text-align: right;
}

/* media galerry */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.main-contact {
  position: relative;
  background: #262627;
  color: #d4dae3;
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto auto;
}
.main-contact h1{
  font-size: 28px;
  margin-bottom: 30px;
}
.main-contact h2{
  font-size: 14px;
}
.main-contact p{
  margin-bottom: 10px;
}
.main-contact a{
  color: #d4dae3;
}
.main-contact a:hover{
  color:#057A67;
}
.grid-item {
  padding: 60px 45px;
}
.main-contact .footer-social li a{
  position: relative;
  display: inline-block;
  color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #2f333b;
  line-height: 45px;
  text-align: center;
}

.footer-social i {
  margin: 0;
}

.main-contact .footer-social li{
  list-style: none;
  float: left;
  margin-right: 15px;
}
.main-contact .footer-social li a:hover{
  background: #057A67;
}
.footer-bottom{
  text-align: center;
  font-family: "Lucida Grande";
  background-color: rgba(8, 8, 8, 0.9);
  color: #fff;
  padding: 20px 0px 20px 0px;
}
.footer-bottom a{
  color:#fff;
}
.footer-bottom a:hover{
  color:#057A67;
}

.pesan-form{
  background-color: #003d33;
  text-align: center;
  padding: 40px;
} 
.pesan-form h2{
  font-size: 35px;
  font-family: "Lucida Handwriting";
  color: white;
  padding-bottom: 50px;
}
.pesan-form p{
  margin: 15px;
}
.nama-submit{
  height: 5px;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0.8rem;
  outline: 0;
  transition: border 0.15s;
  border-radius: 10px;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.pesan-form textarea{
  width: 80%;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0.8rem;
  outline: 0;
  transition: border 0.15s;
  border-radius: 10px;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}
.submit-form{
  background-color: #078a74;
  color: aliceblue;
  font-weight: bold;
  margin-top: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 30%;
  font-size: 17px;
  transition:  0.5s;
  border-radius: 10px;
  font-family: monospace;
}
.submit-form:hover{
  background-color: #00241e;
  width: 70%
}
.pesan-form p{
  font-size: 17px;
  font-family:monospace;
  color: white;
  padding: 5px;
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .header-menu {
    float: none;
    top: 50%;
    left: 50%;
    width: fit-content;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .btn {
    width: 30%;
  }
  
  .submit-form{
    padding: 5px;
    width: max-content;
  }
  .pesan-form h2{
    font-size: 25px;
    font-family: "Lucida Handwriting";
    color: white;
  }
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(image/home-mobile.jpg);
    background-size: cover;
    color: white;
    text-align: center;
  }
  .header-menu {
    display: none;
  }

  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: block;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .man-profile,
  .woman-profile {
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile-picture{
    width: 100%;
  }

  .profile-identity{
    width: fit-content;
  }
  .profile-identity p {
    text-align: left;
  }

    .top-wrapper h1 {
      font-size: 32px;
    }

    .header-menu {
      float: none;
      top: 50%;
      left: 50%;
      width: fit-content;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    .btn {
      width: 35%;
    }

    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }

  }
  .event {
    height: 700px;
    background-image: url(image/bg_event.jpg);
    background-size: cover;
  }
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    .btn {
      width: 60%;
    }
    .top-wrapper {
        padding: 180px 0 100px 0;
        background-image: url(image/home-mobile.jpg);
        background-size: cover;
        color: white;
        text-align: center;
      }
    .header-menu {
      display: none;
    }
    
    .menu-icon {
        color: white;
        float: right;
        font-size: 25px;
        padding: 21px 0;
        display: block;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }

    .event {
      height: 1000px;
      background-image: url(image/bg_event.jpg);
      background-size: cover;
    }
    
    .event .container {
      padding: 180px 0 100px 0;
      text-align: center;
    }
    
    .event .container h1 {
      color: #fff;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 64px;
      text-align: center;
    }
    
    .event .container .event-description {
      width: 1200px;
      height: 126px;
    }
    
    .event .container .event-description p {
      color: white;
      font-size: 14px;
      margin-bottom: 12px;
    }
    
    .main-contact {
      position: relative;
      background: #262627;
      color: #d4dae3;
      display: grid;
      column-gap: 20px;
      grid-template-columns: none;
    }

    .grid-item {
      padding: 15px 45px;
    }
    
  }
  
  .event .container {
    padding: 30px 70px 0;
    text-align: center;
  }
  
  .event .container h1 {
    color: #fff;
    font-size: 64px;
    margin-bottom: 64px;
    text-align: center;
    padding-top: 40px;
  }
  
  .event .container .event-description {
    width: fit-content;
    height: 126px;
  }
  
  .event .container .event-description p {
    color: white;
    font-size: 26px;
    margin-bottom: 52px;
  }
  
  .event .container .event-description .date-location p {
    margin-bottom: 8px;
  }
@keyframes text {
  0% {
    color: rgb(105, 102, 102);
  }

  30% {
    letter-spacing: 15px;
  }

  85% {
    letter-spacing: 8px;
  }
}

.nav {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.904);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  float: right;
  position: absolute;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);;
}

.nav > .nav-links > a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.nav > .nav-links > a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav > #nav-check {
  display: none;
}

/* media khusus header */
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    transform: none;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}