body{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.pesan-form{
    background-color: #057a67;
    width: 3500px;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
} 
.pesan-form h2{
    font-size: 35px;
    font-family: "Lucida Handwriting";
    color: white;
}
.nama-submit{
    height: 5px;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem 0.8rem;
    outline: 0;
    transition: border 0.15s;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.pesan-form textarea{
    width: 80%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem 0.8rem;
    outline: 0;
    transition: border 0.15s;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
.submit-form{
    background-color: #2eceb3;
    color: aliceblue;
    font-weight: bold;
    margin-top: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30%;
    font-size: 17px;
    transition:  0.5s;
    border-radius: 10px;
    font-family: monospace;
    
     
}
.submit-form:hover{
    background-color: #00241e;
    width: 70%
}
.pesan-form p{
    font-size: 17px;
    font-family:monospace;
    color: white;
}